      body {
        margin: 0;
        font-family: "Raleway", "Sans serif";
      }
      a {
        color: inherit;
        text-decoration: none;
      }
/*Début Header*/
      .header {
        display: grid;
        margin: auto;
        max-width: 1440px;
        align-items: center;
      }
      .headerImg {
        grid-area: logo;
        margin: auto;
        padding: 0 2rem;
        height: 3rem;
      }
      .headerNav {
        display: flex;
        grid-area: navbar;
        align-items: center;
      }
      .headerNavLink {
        padding: 3rem;
        font-weight: 500;
        text-align: center;
        border-top: 3px transparent solid;
        border-bottom: 3px transparent solid;
      }
      .headerNavLink[data-active=true] {
        color: #0065FC;
      }
      .headerNavLink:hover {
        color: #0065FC;
      }
      .headerSignup {
        display: flex;
        padding: 3rem;
        grid-area: button;
        font-weight: 600;
        align-items: center;
        color: #0065FC;
      }
/*Fin Header*/

/* Début Main */
      .main {
        margin: auto;
        padding: 0 2rem;
        max-width: 1440px;
        box-sizing: border-box;
      }
/*Début Search*/
      .searchHeaderTitle {
        margin-bottom: 0.5rem;
      }
      .searchHeaderSubtitle {
        margin-top: 0;
      }
      .searchForm {
        display: inline-flex;
        max-width: 100%;
        overflow: auto;
      }
      .searchFormWrapicon {
        padding: 1rem 1.25rem;
        border-radius: 1rem 0 0 1rem;
        text-align: center;
        background-color: #F2F2F2;
      }
      .searchFormWrapiconIcon {
        margin-left: 0.1rem;
      }
      .searchFormSearchinput {
        padding: 0 1.5rem;
        width: 14rem;
        box-sizing: border-box;
        border-right: none;
        border-left: none;
        border-top: #F2F2F2 1px solid;
        border-bottom: #F2F2F2 1px solid;
        font-size: 1rem;
        font-weight: bold;
        font-family: "Raleway", "Sans serif";
      }
      .searchFormSearchinput::placeholder {
        font-family: "Raleway", "Sans serif";
        font-size: 1rem;
        color: black;
      }
      .searchFormSubmitinput {
        padding: 0 1.5rem;
        border: none;
        border-radius: 0 1rem 1rem 0;
        font-weight: bold;
        font-family: "Raleway", "Sans serif";
        font-size: 1rem;
        background-color: #0065FC;
        color: white;
        cursor: pointer;
      }
      .searchFilters {
        display: flex;
        margin-top: 2rem;
        flex-wrap: wrap;
      }
      .searchFiltersTitle {
        display: flex;
        margin: 0 2rem 1rem 0;
        align-items: center;
        font-size: 125%;
      }
      .searchFiltersFilter {
        display: flex;
        margin-bottom: 1rem;
        margin-right: 2rem;
        align-items: center;
        border: 2px solid #d9d9d9;
        border-radius: 2rem;
        font-weight: bold;
        cursor: pointer;
      }
      .searchFiltersFilter:last-child {
        margin-right: 0;
      }
      .searchFiltersFilter:hover {
        transform: scale(1.015);
        background-color: #eee3e3;
        color:#0065FC;
      }
      .searchFiltersFilterWrapicon {
        display: flex;
        margin: -2px;
        width: 3rem;
        height: 3rem;
        min-height: 3.5rem;
        min-width: 3.5rem;
        align-items: center;
        justify-content: center;
        background-color: #DEEBFF;
        border-radius: 100%;
      }
      .searchFiltersFilterWrapiconIcon {
        color: blue;
      }
      .searchFiltersFilterTitle {
        margin: 0 1rem;
      }
      .searchResult {
        display: flex;
        margin: 1rem 0 2rem 0;
        align-items: center;
      }
      .searchResultWrapicon {
        display: flex;
        margin-right: 1rem;
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
        min-height: 2rem;
        border: solid 1px #d9d9d9;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
      }
      .searchResultWrapiconIcon {
        color: #0065FC;
      }
      .searchResultText {
        margin: 0;
      }
/*Fin Search*/

/*Début Hosting*/
.hostingWrapper, .hostingPopular, .hostingMain {
      padding: 2rem;
      border-radius: 1.5rem;
      background-color: #F2F2F2;
}
  .hosting {
        display: grid;
        column-gap: 2rem;
        grid-template-columns: 6fr 3fr;
  }
  .hostingMain {
        display: grid;
        column-gap: 2rem;
        row-gap: 2rem;
  }
  .hostingMainHeader {
        grid-column: 1/-1;
  }
  .hostingMainHeaderTitle {
        margin: 0;
  }
  .hostingMainCard {
        padding: 0.375rem;
        height: 100%;
        border-radius: 1.25rem;
        box-shadow: 0 0 16px #0000002e;
        box-sizing: border-box;
        background-color: white;
        cursor: pointer;
  }
  .hostingMainCard:hover {
        transform: scale(1.02);
  }
  .hostingMainCardFigure {
        margin: 0;
  }
  .hostingMainCardFigureImg {
        width: 100%;
        max-width: 100%;
        height: 7rem;
        max-height: 100%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
  }
  .hostingMainCardFigureCaptionTitle {
        margin: 0.25rem 0.75rem 0 0.75rem;
  }
  .hostingMainCardDesc {
        margin: 0.25rem 0.75rem 0.25rem 0.75rem;
  }
  .hostingMainCardDescPrice {
        font-weight: bold;
  }
  .hostingMainCardGrade {
        margin: 0 0.75rem 0.25rem 0.75rem;
  }
  .BlueStar {
        color: #0065FC;
  }
  .GreyStar {
        color: #d9d9d9;
  }
  .hostingMainViewmore {
        font-weight: bold;
  }
  .hostingPopular {
        display: grid;
        row-gap: 2rem;
        grid-template-rows: auto repeat(3, 1fr);
        align-items: start;
  }
  .hostingPopularTitle {
        display: flex;
        margin: 0;
        justify-content: space-between;
  }
  .hostingPopularWrapcontent {
        display: flex;
        height: 100%;
        align-items: stretch;
        overflow: auto;
  }
  .hostingPopularWrapcontentWrapimg {
        width: 33%;
        min-width: 33%;
        max-width: 33%;
        min-height: 100%;
        position: relative;
  }
  .hostingPopularWrapcontentWrapimgImg {
        width: 100%;
        height: 100%;
        border-radius: 1rem 0 0 1rem;
        object-fit: cover;
        position: absolute;
  }
  .hostingPopularWrapcontentContent {
        display: flex;
        flex-direction: column;
  }
  .hostingPopularWrapcontentContentWhitespace {
        flex: 1;
  }
  .hostingPopularhostingMainCard {
        height: 8.75rem;
  }
/*Fin Hosting*/

/*Début Activity*/
  .activity {
        display: grid;
        margin: 4rem 0;
        column-gap: 2rem;
  }
  .activityTitle {
        grid-column: 1/-1;
  }
  .activityCard {
        display: flex;
        box-shadow: 0 0 20px #0000002e;
        border-radius: 1rem;
        overflow: hidden;
        flex-direction: column;
  }
  .activityCard:hover {
        transform: scale(1.01);
  }
  .activityCardWrapimg {
        flex: 1;
        position: relative;
  }
  .activityCardWrapimgImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
  }
  .activityCardTitle {
        margin: 1.2rem 1.5rem;
  }
/*Fin Activity*/
/*Fin Main*/

/*Début Footer*/
  .footer {
        margin: auto;
        width: 1440px;
        background-color: #F2F2F2;
  }
  .footerColumnwrapper {
        display: flex;
        margin: auto;
        padding: 0 2rem;
        width: 1440;
        max-width: 100%;
        box-sizing: border-box;
  }
  .footerColumnwrapperColumn {
        padding: 2rem 2rem;
        width: 30%;
  }
  .footerColumnwrapperColumnLink {
        display: block;
        margin: 1rem 0;
  }
  .footerColumnwrapperColumnLink:hover {
        text-decoration: underline;
  }
/*Fin Footer*/

/*Début Responsive*/
  @media screen and (min-width: 601px) {
    .header {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo . navbar button";
    }
    .headerNavLink[data-active=true] {
        border-top: 3px solid #0065FC;
    }
    .headerNavLink:hover {
        border-top: 3px solid #0065FC;
    }
  }
  @media screen and (max-width: 600px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . button" "navbar navbar navbar";
    }
    .headerimg {
        order: 0;
    }
    .headerSignup {
        order: 1;
    }
    .headerNav {
        order: 2;
    }
    .headerNavLink {
        width: 50%;
        border-top: none;
        border-bottom: 3px solid #F2F2F2;

    }
    .headerNavLink[data-active=true] {
        border-bottom-color: #0065FC;
    }
    .headerNavLink:hover {
        border-bottom-color: #0065FC;
    }
  }
  @media screen and (max-width: 600px) and (min-width: 350px) {
    .searchForm {
        display: flex;
        width: 100%;
        min-width: 350px;
    }
    .searchFormSearchinput {
        width: 60%;
    }
    .searchFormSubmitinput{
        border-radius: 12px;
    }
    .searchFormSubmitinputText {
        display: none;
    }
    .searchFormSubmitinputIcon {
        display: block;
    }
  }
  @media screen and (max-width: 650px) {
    .searchFiltersTitle {
        width: 100%;
    }
    .searchFiltersFilter {
        margin-right: 1rem;
    }
  }
  @media screen and (min-width: 601px) {
    .searchFormSubmitinputText {
        display: block;
    }
    .searchFormSubmitinputIcon {
        display: none;
    }
  }
  @media screen and (max-width: 1440px) and (min-width: 350px) {
    .hosting {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    .hostingMainHeaderTitle {
      font-size: 130%;
      font-weight: bold;
      color: black;
    }
    .hostingMainViewmore {
          font-size: 100%;
          font-weight: bold;
          color: black;
    }
    .hostingPopular {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 10rem;
        column-gap: 2rem;
        grid-row-start: 1;
        border-radius: 0;
    }
    .hostingPopularTitle {
        grid-column: 1/-1;
    }
  }
  @media (min-width: 925px) {
    .hostingMain {
        grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 925px) and (min-width: 650px) {
    .hostingMain {
        grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 650px) {
    .hostingMain {
        grid-template-columns: 1fr;
        background-color: white;
    }
  }
  @media (max-width: 1000px) and (min-width: 350px) {
    .hostingPopular {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, 9rem);
    }
  }
  @media (min-width: 1100px) {
    .activity {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    }
    .act1 {
        grid-row: 2/7;
        grid-column: 1/2;
    }
    .act2 {
        grid-column: 2/3;
        grid-row: 2/5;
    }
    .act3 {
        grid-column: 3/4;
        grid-row: 2/7;
    }
    .act4 {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .act5 {
        grid-column: 2/3;
        grid-row: 6/7;
    }
    .act6 {
        grid-column: 4/5;
        grid-row: 4/7;
    }
  }
  @media (max-width: 1100px) {
    .activity {
        row-gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 12rem 12rem;
    }
  }
  @media (max-width: 925px) {
    .activity {
        row-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 12rem 12rem 12rem;
    }
  }
  @media (max-width: 650px) {
    .activity {
        row-gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
    }
  }
  @media (max-width: 750px) {
    .footerColumnwrapper {
        flex-direction: column;
        padding: 2rem;
    }
    .footerColumnwrapperColumn {
        width: 100%;
        padding: 0;
        margin: 1rem 0;
    }
    .footerColumnwrapperColumn:first-child {
        margin-top: 0;
    }
    .footerColumnwrapperColumn:last-child {
        margin-bottom: 0;
    }
    .footerColumnwrapperColumnTitle {
        margin: 0;
    }
    .footerColumnwrapperColumnLink:last-child {
        margin-bottom: 0;
    }
  }
  @media (max-width: 1440px) and (min-width: 350px) {
    .footer{
      margin: auto;
      width: 100%;
    }
  }
    
/*Fin Responsive*/